<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmA9cVi1qP4diyDCbxioJONMsRLG7oj1o</string>
	<key>GCM_SENDER_ID</key>
	<string>142281175103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-d25a2</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-d25a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142281175103:ios:3e520ce792e28cc0b6488a</string>
</dict>
</plist>